*{
    font-family: verdana;
    font-size: 16px;
    
}
div{
    margin: 50px 0px;
    text-align: center;
}
button{
    background-color: aquamarine;
}
button:hover{
    background-color: rgb(183, 255, 231);

}
label{
    color: red;
    font-size: 60px;
}